* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #1f2937;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 80px;
}

.logo {
  color: #f9faf8;
  font-weight: 600;
  font-size: 24px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a,
.hero-paragraph {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero-text {
  width: 450px;
}

.hero-image {
  width: 550px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #777;
  color: #e5e7eb;
}

.main-heading {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-button {
  background-color: #3882f6;
  padding: 8px 30px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  color: #e5e7eb;
  margin-top: 10px;
  margin-bottom: 100px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #e5e7eb;
  color: #3882f6;
}

.hero-image {
  width: 550px;
  height: 250px;
}

.main--container {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.information-heading {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: 50px 0;
}

.information--container {
  display: flex;
  justify-content: space-between;
}

.information-block {
  width: 170px;
}

.information-image {
  width: 170px;
  height: 170px;
  margin-bottom: 10px;
  border: 3px solid #3882f6;
  border-radius: 15px;
}

.information-paragraph {
  font-size: 18px;
  color: #777;
  margin-bottom: 80px;
}

.testimonial {
  background-color: #e5e7eb;
  padding: 80px 0;
}

.testimonial--container {
  width: 900px;
  margin: 0 auto;
}

.testimonial-text {
  text-align: start;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.testimonial-source {
  display: flex;
  justify-content: flex-end;
  font-size: 22px;
  font-weight: 600;
  color: #1f2937;
  margin-top: -20px;
  margin-right: 30px;
}

.cta--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  background-color: #3882f6;
  display: flex;
  padding: 50px 100px;
  border-radius: 10px;
}

.cta-heading {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.cta-paragraph {
  color: #e5e7eb;
  font-size: 18px;
}

.cta-button {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #3882f6;
  padding: 7px 35px;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.cta-button:hover {
  color: #3882f6;
  background-color: #fff;
  border-color: #3882f6;
}

footer {
  margin-top: 80px;
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
